.carousel {

    .pagebuilder-column-line {

        .slick-list {
            width: 100%;
            margin: 0 auto;

            .slick-slide {

                [data-content-type="image"] {
                    height: 28rem;

                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
}
